body {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(247, 193, 158);
  width: 100vw;
  overflow-x: hidden;
}
#heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*
  Switch for toggling 'Sync'
 */
.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background: #b4b0bd;
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}
.switch::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 22px;
  height: 22px;
  background: #fafafa;
  border-radius: 50%;
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
}
input:checked + .switch {
  background: #3058af;
}
input:checked + .switch::before {
  left: 27px;
  background: #fff;
}
input:checked + .switch:active::before {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}

/*
  Grid-system to make the image viewers mobile-responsive
*/
.container {
  margin-top: 40px;
  display: block;
  justify-items: center;
}

@media screen and (min-width: 1080px) {
  .container {
    display: flex;
    margin-top: 25px;
  }
}

#leftSlide,
#rightSlide {
  width: 84vw;
  height: 56vw;
  justify-self: center;
  margin: 20px;
  margin-left: 8vw;
}

@media screen and (min-width: 1080px) {
  .leftContainer,
  .rightContainer {
    flex: 1;
  }
  #leftSlide,
  #rightSlide {
    width: 600px;
    height: 435px;
    margin: 20px;
  }
}

/*
  Slider for rotating the slides
*/
.slidecontainer {
  width: 70vw;
  margin-left: 15vw;
}
@media screen and (min-width: 1080px) {
  .slidecontainer {
    width: 500px;
    margin-left: 60px;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #b4b0bd;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00194e;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00194e;
  cursor: pointer;
}
